.rippuru-wrapper {
    color: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
    pointer-events: none;
    contain: strict;
    z-index: 0;
    border: none;

    &__ripple {
        position: absolute;
        border-radius: 50%;
        opacity: 0;
        background-color: currentColor;
        will-change: transform, opacity;
        animation: ripple 0.5s;
        border: none;
    }
}

@keyframes ripple {
    0% {
        opacity: 0.5;
        transform: scale(0.3);
    }

    80% {
        opacity: 0.1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
    }
}